.button {
    background-color: rgb(208, 7, 7);
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}