.list-group-item {
  display: flex;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 16px;
  }

  button {
    background-color: rgb(208, 7, 7);
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
  }

  .info {
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 2px;
    }

    p {
      font-size: 14px;
      color: #666;
    }
  }
}

  