.pageNotFound-container {
    color: white;
    display: flex;
    font-size: 900;
    font-weight:bold;
    justify-content: center;
    padding: 200px 100px;
}

html {
    background-color: var(--main-color);
}
